.interactiveLink, .interactiveLink:link, .interactiveLink:visited {
    color: #2BB8ED;
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: none;
}

.interactiveLink:active, .interactiveLink:hover {
    text-decoration: underline;
}