.categories {
  list-style: none;
  font-weight: bold;
}

.categories li {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.categories li:hover, .categories li.active {
  cursor: pointer;
  color: #0CA0D8;
}

.categories li:hover:before, .categories li.active:before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border: solid #0CA0D8;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  left: -2rem;
}

.categories li:not(:last-child) {
  margin-bottom: 1.6rem;
}