/* Customize the label (the container) */

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 3px solid #0CA0D8;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

/* On mouse-over, add a grey background color */
/* .checkbox:hover input~.checkmark {
  background-color: rgba(12, 160, 216,0.8);
} */

/* When the checkbox is checked, add a blue background */

.checkbox input:checked~.checkmark {
  background-color: #0CA0D8;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  display: none;
}

/* Show the checkmark when checked */

.checkbox input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.checkbox .checkmark:after {
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}