.footer {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  display: flex;
  align-items: center;
}

.socialMedia {
  display: flex;
  align-items: center;
  list-style: none;
}

.socialMedia li:not(:last-child){
  margin-right: 1.6rem !important;
}

.background {
  background-color: #66AA72;
  position: relative;
  z-index: 100;
}

.socialMediaIcon {
  height: 1.6rem;
}
